:root {
  --header-mobile-size: 60px;
}

@media (max-width: 1100px) {
  .shell_main {
    padding-top: var(--header-mobile-size);
  }
}

.select {
  .modalInner > section {
    overflow-y: visible !important;
  }

  .modalInner {
    overflow: visible !important;
  }
}
