.card {
  background-color: var(--mantine-color-body);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 700;
}

.grid > div:first-child {
  height: 100% !important;
}

.grid > .mantine-Grid-inner {
  height: 100% !important;
}

@media (max-width: 820px) {
  .grid > .mantine-Grid-inner {
    flex-direction: column;
  }

  .card {
    min-height: 60vh;
  }
}
