.input {
  & input:disabled {
    background-color: transparent;
    color: var(--mantine-color-text);
    opacity: 1;
  }

  & textarea:disabled {
    background-color: transparent;
    color: var(--mantine-color-text);
    opacity: 1;
  }
}
